[package]
name = "servers"
version = "0.1.0"
edition = "2021"

[dependencies]
api = { path = "../api" }
async-trait = "0.1"
axum = "0.5"
axum-macros = "0.2"
bytes = "1.2"
client = { path = "../client" }
common-base = { path = "../common/base" }
common-error = { path = "../common/error" }
common-query = { path = "../common/query" }
common-recordbatch = { path = "../common/recordbatch" }
common-runtime = { path = "../common/runtime" }
common-telemetry = { path = "../common/telemetry" }
common-time = { path = "../common/time" }
datatypes = { path = "../datatypes" }
futures = "0.3"
hex = { version = "0.4", optional = true }
hyper = { version = "0.14", features = ["full"] }
metrics = "0.20"
nom = { version = "7", default-features = false, features = ["std"] }
num_cpus = "1.13"
opensrv-mysql = "0.1"
pgwire = { version = "0.3", optional = true }
query = { path = "../query" }
serde = "1.0"
serde_json = "1.0"
smallvec = { version = "1.9.0", features = ["union"] }
snafu = { version = "0.7", features = ["backtraces"] }
table = { path = "../table" }
tokio = { version = "1.20", features = ["full"] }
tokio-stream = { version = "0.1", features = ["net"] }
tonic = "0.8"
tower = { version = "0.4", features = ["full"] }
tower-http = { version = "0.3", features = ["full"] }

[features]
default = ["postgres"]
influxdb = []
postgres = ["hex", "pgwire"]

[dev-dependencies]
catalog = { path = "../catalog" }
common-base = { path = "../common/base" }
mysql_async = "0.30"
rand = "0.8"
script = { path = "../script", features = ["python"] }
test-util = { path = "../../test-util" }
tokio-postgres = "0.7"
