[package]
name = "mito2"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
aquamarine = "0.3.2"
common-error = { path = "../common/error" }
object-store = { path = "../object-store" }
snafu.workspace = true
store-api = { path = "../store-api" }
