[workspace]
members = [
    "src/common/base",
    "src/common/error",
    "src/common/function",
    "src/common/runtime",
    "src/common/telemetry",
    "src/common/time",
    "src/common/query",
    "src/common/recordbatch",
    "src/cmd",
    "src/datanode",
    "src/datatypes",
    "src/log-store",
    "src/logical-plans",
    "src/object-store",
    "src/query",
    "src/sql",
    "src/storage",
    "src/store-api",
    "src/table",
    "src/table-engine",
]
