[workspace]
members = [
    "benchmarks",
    "src/api",
    "src/catalog",
    "src/client",
    "src/cmd",
    "src/common/base",
    "src/common/catalog",
    "src/common/error",
    "src/common/function",
    "src/common/function-macro",
    "src/common/grpc",
    "src/common/query",
    "src/common/recordbatch",
    "src/common/runtime",
    "src/common/substrait",
    "src/common/grpc-expr",
    "src/common/telemetry",
    "src/common/time",
    "src/datanode",
    "src/datatypes",
    "src/frontend",
    "src/log-store",
    "src/meta-client",
    "src/meta-srv",
    "src/object-store",
    "src/query",
    "src/script",
    "src/servers",
    "src/sql",
    "src/storage",
    "src/store-api",
    "src/table",
    "src/mito",
    "tests/runner",
]

[profile.release]
debug = true
