[workspace]
members = [
    "benchmarks",
    "src/api",
    "src/catalog",
    "src/client",
    "src/cmd",
    "src/common/base",
    "src/common/catalog",
    "src/common/datasource",
    "src/common/error",
    "src/common/function",
    "src/common/function-macro",
    "src/common/grpc",
    "src/common/grpc-expr",
    "src/common/mem-prof",
    "src/common/procedure",
    "src/common/query",
    "src/common/recordbatch",
    "src/common/runtime",
    "src/common/substrait",
    "src/common/telemetry",
    "src/common/test-util",
    "src/common/time",
    "src/datanode",
    "src/datatypes",
    "src/frontend",
    "src/log-store",
    "src/meta-client",
    "src/meta-srv",
    "src/mito",
    "src/object-store",
    "src/partition",
    "src/promql",
    "src/query",
    "src/script",
    "src/servers",
    "src/session",
    "src/sql",
    "src/storage",
    "src/store-api",
    "src/table",
    "src/table-procedure",
    "tests-integration",
    "tests/runner",
]

[workspace.package]
version = "0.1.1"
edition = "2021"
license = "Apache-2.0"

[workspace.dependencies]
arrow = { version = "34.0" }
arrow-array = "34.0"
arrow-flight = "34.0"
arrow-schema = { version = "34.0", features = ["serde"] }
async-stream = "0.3"
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
datafusion = { git = "https://github.com/apache/arrow-datafusion.git", rev = "146a949218ec970784974137277cde3b4e547d0a" }
datafusion-common = { git = "https://github.com/apache/arrow-datafusion.git", rev = "146a949218ec970784974137277cde3b4e547d0a" }
datafusion-expr = { git = "https://github.com/apache/arrow-datafusion.git", rev = "146a949218ec970784974137277cde3b4e547d0a" }
datafusion-optimizer = { git = "https://github.com/apache/arrow-datafusion.git", rev = "146a949218ec970784974137277cde3b4e547d0a" }
datafusion-physical-expr = { git = "https://github.com/apache/arrow-datafusion.git", rev = "146a949218ec970784974137277cde3b4e547d0a" }
datafusion-sql = { git = "https://github.com/apache/arrow-datafusion.git", rev = "146a949218ec970784974137277cde3b4e547d0a" }
datafusion-substrait = { git = "https://github.com/apache/arrow-datafusion.git", rev = "146a949218ec970784974137277cde3b4e547d0a" }
futures = "0.3"
futures-util = "0.3"
parquet = "34.0"
paste = "1.0"
prost = "0.11"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
snafu = { version = "0.7", features = ["backtraces"] }
sqlparser = "0.32"
tempfile = "3"
tokio = { version = "1.24.2", features = ["full"] }
tokio-util = "0.7"
tonic = { version = "0.8", features = ["tls"] }
uuid = { version = "1", features = ["serde", "v4", "fast-rng"] }

[profile.release]
debug = true

[profile.nightly]
inherits = "release"
strip = true
lto = "thin"
debug = false
incremental = false
