[package]
name = "promql"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
ahash.workspace = true
async-trait.workspace = true
bytemuck.workspace = true
common-error.workspace = true
common-macro.workspace = true
common-recordbatch.workspace = true
common-telemetry.workspace = true
datafusion.workspace = true
datafusion-expr.workspace = true
datatypes.workspace = true
futures = "0.3"
greptime-proto.workspace = true
lazy_static.workspace = true
prometheus.workspace = true
prost.workspace = true
snafu.workspace = true

[dev-dependencies]
tokio.workspace = true
