[package]
name = "promql"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
common-error = { path = "../common/error" }
datafusion.workspace = true
datatypes = { path = "../datatypes" }
futures = "0.3"
promql-parser = { git = "https://github.com/GreptimeTeam/promql-parser.git", rev = "71d8a90" }
snafu = { version = "0.7", features = ["backtraces"] }
