[package]
edition = "2021"
name = "script"
version = "0.1.0"
license = "Apache-2.0"

[features]
default = ["python"]
python = [
  "dep:datafusion",
  "dep:datafusion-expr",
  "dep:datafusion-physical-expr",
  "dep:rustpython-vm",
  "dep:rustpython-parser",
  "dep:rustpython-compiler",
  "dep:rustpython-compiler-core",
  "dep:rustpython-codegen",
  "dep:rustpython-ast",
  "dep:rustpython-pylib",
  "dep:paste",
]

[dependencies]
async-trait = "0.1"
catalog = { path = "../catalog" }
common-catalog = { path = "../common/catalog" }
common-error = { path = "../common/error" }
common-function = { path = "../common/function" }
common-query = { path = "../common/query" }
common-recordbatch = { path = "../common/recordbatch" }
common-telemetry = { path = "../common/telemetry" }
common-time = { path = "../common/time" }
console = "0.15"
datafusion = { git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2", optional = true }
datafusion-common = { git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2" }
datafusion-expr = { git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2", optional = true }
datafusion-physical-expr = { git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2", optional = true }
datatypes = { path = "../datatypes" }
futures = "0.3"
futures-util = "0.3"
paste = { version = "1.0", optional = true }
query = { path = "../query" }
# TODO: This is a forked and tweaked version of RustPython, please update it to newest original RustPython After Update toolchain to 1.65
rustpython-ast = { git = "https://github.com/discord9/RustPython", optional = true, branch = "rspy4gpdb"}
rustpython-compiler = { git = "https://github.com/discord9/RustPython", optional = true, branch = "rspy4gpdb" }
rustpython-compiler-core = { git = "https://github.com/discord9/RustPython", optional = true, branch = "rspy4gpdb" }
rustpython-codegen = { git = "https://github.com/discord9/RustPython", optional = true, branch = "rspy4gpdb"}
rustpython-parser = { git = "https://github.com/discord9/RustPython", optional = true, branch = "rspy4gpdb" }
rustpython-vm = { git = "https://github.com/discord9/RustPython", optional = true, branch = "rspy4gpdb", features = [
  "default",
  "freeze-stdlib",
  "codegen"
] }
session = { path = "../session" }
rustpython-pylib = { git = "https://github.com/discord9/RustPython", optional = true, branch = "rspy4gpdb", features = ["freeze-stdlib"] }
snafu = { version = "0.7", features = ["backtraces"] }
sql = { path = "../sql" }
table = { path = "../table" }
tokio = { version = "1.0", features = ["full"] }

[dev-dependencies]
log-store = { path = "../log-store" }
mito = { path = "../mito", features = ["test"] }
ron = "0.7"
serde = { version = "1.0", features = ["derive"] }
storage = { path = "../storage" }
tempdir = "0.3"
tokio = { version = "1.18", features = ["full"] }
tokio-test = "0.4"
