[package]
edition = "2021"
name = "script"
version = "0.1.0"
license = "Apache-2.0"

[features]
default = ["python"]
python = [
    "dep:datafusion",
    "dep:datafusion-expr",
    "dep:datafusion-physical-expr",
    "dep:rustpython-vm",
    "dep:rustpython-parser",
    "dep:rustpython-compiler",
    "dep:rustpython-compiler-core",
    "dep:rustpython-bytecode",
    "dep:rustpython-ast",
    "dep:paste",
]

[dependencies]
async-trait = "0.1"
catalog = { path = "../catalog" }
common-catalog = { path = "../common/catalog" }
common-error = { path = "../common/error" }
common-function = { path = "../common/function" }
common-query = { path = "../common/query" }
common-recordbatch = { path = "../common/recordbatch" }
common-telemetry = { path = "../common/telemetry" }
common-time = { path = "../common/time" }
console = "0.15"
datafusion = { version = "14.0.0", optional = true }
datafusion-common = { version = "14.0.0", optional = true }
datafusion-expr = { version = "14.0.0", optional = true }
datafusion-physical-expr = { version = "14.0.0", optional = true }
datatypes = { path = "../datatypes" }
futures = "0.3"
futures-util = "0.3"
paste = { version = "1.0", optional = true }
query = { path = "../query" }
rustpython-ast = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d" }
rustpython-bytecode = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d" }
rustpython-compiler = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d" }
rustpython-compiler-core = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d" }
rustpython-parser = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d" }
rustpython-vm = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d", features = [
    "default",
    "freeze-stdlib",
] }
session = { path = "../session" }
snafu = { version = "0.7", features = ["backtraces"] }
sql = { path = "../sql" }
table = { path = "../table" }
tokio = { version = "1.0", features = ["full"] }

[dev-dependencies]
log-store = { path = "../log-store" }
mito = { path = "../mito", features = ["test"] }
ron = "0.7"
serde = { version = "1.0", features = ["derive"] }
storage = { path = "../storage" }
tempdir = "0.3"
tokio = { version = "1.18", features = ["full"] }
tokio-test = "0.4"
