[package]
edition = "2021"
name = "script"
version = "0.1.0"

[features]
default = ["python"]
python = [
  "dep:datafusion",
  "dep:datafusion-expr",
  "dep:datafusion-physical-expr",
  "dep:rustpython-vm",
  "dep:rustpython-parser",
  "dep:rustpython-compiler",
  "dep:rustpython-compiler-core",
  "dep:rustpython-bytecode",
  "dep:rustpython-ast",
  "dep:paste"
]

[dependencies]
async-trait = "0.1"
common-error = {path = "../common/error"}
common-function = { path = "../common/function" }
common-query = {path = "../common/query"}
common-recordbatch = {path = "../common/recordbatch" }
common-telemetry = { path = "../common/telemetry" }
console = "0.15"
datafusion = {git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2", optional = true}
datafusion-common = {git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2"}
datafusion-expr = {git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2", optional = true}
datafusion-physical-expr = {git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2", optional = true}
datatypes = {path = "../datatypes"}
futures-util = "0.3"
futures = "0.3"
query = { path = "../query" }
rustpython-ast = {git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d"}
rustpython-bytecode = {git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d"}
rustpython-compiler = {git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d"}
rustpython-compiler-core = {git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d"}
rustpython-parser = {git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d"}
rustpython-vm = {git = "https://github.com/RustPython/RustPython", optional = true, rev = "02a1d1d"}
paste = { version = "1.0", optional = true}
snafu = {version = "0.7", features = ["backtraces"]}
sql = { path = "../sql" }
tokio = { version = "1.0", features = ["full"] }


[dev-dependencies]
catalog = { path = "../catalog" }
ron = "0.7"
serde = {version = "1.0", features = ["derive"]}
table = { path = "../table" }
tokio = { version = "1.18", features = ["full"] }
tokio-test = "0.4"
