[package]
name = "script"
edition.workspace = true
version.workspace = true
license.workspace = true

[features]
default = ["python"]
python = ["dep:datafusion", "dep:datafusion-common", "dep:datafusion-expr", "dep:datafusion-physical-expr", "dep:rustpython-vm", "dep:rustpython-parser", "dep:rustpython-compiler", "dep:rustpython-compiler-core", "dep:rustpython-codegen", "dep:rustpython-ast", "dep:rustpython-pylib", "dep:rustpython-stdlib", "dep:paste"]

[dependencies]
async-trait.workspace = true
catalog = { path = "../catalog" }
common-catalog = { path = "../common/catalog" }
common-error = { path = "../common/error" }
common-function = { path = "../common/function" }
common-query = { path = "../common/query" }
common-recordbatch = { path = "../common/recordbatch" }
common-telemetry = { path = "../common/telemetry" }
common-time = { path = "../common/time" }
console = "0.15"
crossbeam-utils = "0.8.14"
datafusion = { workspace = true, optional = true }
datafusion-common = { workspace = true, optional = true }
datafusion-expr = { workspace = true, optional = true }
datafusion-physical-expr = { workspace = true, optional = true }
datatypes = { path = "../datatypes" }
futures.workspace = true
futures-util = "0.3"
once_cell = "1.17.0"
paste = { workspace = true, optional = true }
query = { path = "../query" }
# TODO(discord9): This is a forked and tweaked version of RustPython, please update it to newest original RustPython After Update toolchain to 1.65
rustpython-ast = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d" }
rustpython-codegen = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d" }
rustpython-compiler = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d" }
rustpython-compiler-core = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d" }
rustpython-parser = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d" }
rustpython-pylib = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d", features = [
    "freeze-stdlib",
] }
rustpython-stdlib = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d" }
rustpython-vm = { git = "https://github.com/RustPython/RustPython", optional = true, rev = "3a5716d", features = [
    "default",
    "codegen",
] }
session = { path = "../session" }
snafu = { version = "0.7", features = ["backtraces"] }
sql = { path = "../sql" }
table = { path = "../table" }
tokio = { version = "1.0", features = ["full"] }

[dev-dependencies]
log-store = { path = "../log-store" }
mito = { path = "../mito", features = ["test"] }
ron = "0.7"
serde = { version = "1.0", features = ["derive"] }
storage = { path = "../storage" }
tempdir = "0.3"
tokio = { version = "1.18", features = ["full"] }
tokio-test = "0.4"
