[package]
name = "common-procedure"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
testing = []

[dependencies]
async-stream.workspace = true
async-trait.workspace = true
backon = "0.4"
common-error.workspace = true
common-macro.workspace = true
common-runtime.workspace = true
common-telemetry.workspace = true
futures.workspace = true
humantime-serde.workspace = true
object-store.workspace = true
serde.workspace = true
serde_json.workspace = true
smallvec.workspace = true
snafu.workspace = true
tokio.workspace = true
uuid.workspace = true

[dev-dependencies]
common-test-util.workspace = true
futures-util.workspace = true
