flush_stats_factor = 1
{{ if use_etcd }}
## Store server address default to etcd store.
store_addrs = [{store_addrs | unescaped}]

## Store data in memory.
use_memory_store = false

## The datastore for meta server.
backend = "EtcdStore"
{{ endif }}
[wal]
{{ if is_raft_engine }}
provider = "raft_engine"
{{ else }}
provider = "kafka"
broker_endpoints = {kafka_wal_broker_endpoints | unescaped}
num_topics = 3
selector_type = "round_robin"
topic_name_prefix = "distributed_test_greptimedb_wal_topic"
auto_prune_interval = "30s"
trigger_flush_threshold = 100
{{ endif }}
