[package]
name = "common-meta"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
version-report = []

[dependencies]
api = { path = "../../api" }
async-stream.workspace = true
async-trait.workspace = true
common-catalog = { path = "../catalog" }
common-error = { path = "../error" }
common-runtime = { path = "../runtime" }
common-telemetry = { path = "../telemetry" }
common-time = { path = "../time" }
etcd-client.workspace = true
futures.workspace = true
lazy_static.workspace = true
prost.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
snafu.workspace = true
store-api = { path = "../../store-api" }
table = { path = "../../table" }
tokio.workspace = true
reqwest = { version = "0.11", features = ["json"] }
once_cell = "1.10"

[dev-dependencies]
chrono.workspace = true
datatypes = { path = "../../datatypes" }
hyper = { version = "0.14", features = ["full"] }

[build-dependencies]
build-data = "0.1.3"
