[package]
name = "common-function"
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
arc-swap = "1.0"
build-data = "0.1"
chrono-tz = "0.6"
common-error.workspace = true
common-macro.workspace = true
common-query.workspace = true
common-time.workspace = true
datafusion.workspace = true
datatypes.workspace = true
libc = "0.2"
num = "0.4"
num-traits = "0.2"
once_cell.workspace = true
paste = "1.0"
snafu.workspace = true
statrs = "0.16"

[dev-dependencies]
ron = "0.7"
serde = { version = "1.0", features = ["derive"] }
