[package]
name = "common-function"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono-tz = "0.6"
common-error = { path = "../error" }
common-query = { path = "../query" }
datatypes = { path = "../../datatypes"}
dyn-clone = "1.0"
num = "0.4.0"
num-traits = "0.2.14"
once_cell = "1.10"
snafu = { version = "0.7", features = ["backtraces"] }