[package]
edition = "2021"
name = "common-function"
version = "0.1.0"


[dependencies.arrow]
package = "arrow2"
version="0.10"
features = ["io_csv", "io_json", "io_parquet", "io_parquet_compression", "io_ipc", "ahash", "compute", "serde_types"]

[dependencies]
arc-swap = "1.0"
chrono-tz = "0.6"
common-error = { path = "../error" }
common-query = { path = "../query" }
datafusion-common = { git = "https://github.com/apache/arrow-datafusion.git" , branch = "arrow2" }
datatypes = { path = "../../datatypes" }
libc = "0.2.126"
num = "0.4.0"
num-traits = "0.2.14"
once_cell = "1.10"
paste = "1.0"
snafu = {version = "0.7", features = ["backtraces"]}

[dev-dependencies]
ron = "0.7.1"
serde = { version = "1.0", features = ["derive"] }
