mode = 'distributed'
datanode_rpc_addr = '127.0.0.1:3001'

[http_options]
addr = '127.0.0.1:4000'

[meta_client_opts]
metasrv_addrs = ['127.0.0.1:3002']
timeout_millis = 3000
connect_timeout_millis = 5000
tcp_nodelay = false
