node_id = 0
mode = 'standalone'
http_addr = '127.0.0.01:4000'
datanode_mysql_addr = '127.0.0.01:3306'
datanode_mysql_runtime_size = 4
wal_dir = '/tmp/greptimedb/wal/'

[storage]
type = 'File'
data_dir = '/tmp/greptimedb/data/'

[grpc_options]
addr = '127.0.0.01:4001'
runtime_size = 8

[mysql_options]
addr = '127.0.0.01:4002'
runtime_size = 2

[influxdb_options]
enable = true

[opentsdb_options]
addr = '127.0.0.01:4242'
enable = true
runtime_size = 2

[prometheus_options]
enable = true

[postgres_options]
addr = '127.0.0.01:4003'
runtime_size = 2
check_pwd = false
