[package]
name = "session"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
testing = []

[lints]
workspace = true

[dependencies]
ahash.workspace = true
api.workspace = true
arc-swap = "1.5"
auth.workspace = true
common-catalog.workspace = true
common-error.workspace = true
common-macro.workspace = true
common-recordbatch.workspace = true
common-session.workspace = true
common-telemetry.workspace = true
common-time.workspace = true
datafusion-common.workspace = true
derive_builder.workspace = true
derive_more.workspace = true
snafu.workspace = true
sql.workspace = true
