[package]
name = "session"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
testing = []

[dependencies]
api.workspace = true
arc-swap = "1.5"
auth.workspace = true
common-catalog.workspace = true
common-telemetry.workspace = true
common-time.workspace = true
derive_builder.workspace = true
sql.workspace = true
