[package]
name = "frontend"
version = "0.1.0"
edition = "2021"

[dependencies]
api = { path = "../api" }
async-stream = "0.3"
arc-swap = "1.5"
async-trait = "0.1"
catalog = { path = "../catalog" }
client = { path = "../client" }
common-base = { path = "../common/base" }
common-error = { path = "../common/error" }
common-query = { path = "../common/query" }
common-recordbatch = { path = "../common/recordbatch" }
common-runtime = { path = "../common/runtime" }
common-catalog = { path = "../common/catalog" }
common-grpc = { path = "../common/grpc" }
common-telemetry = { path = "../common/telemetry" }
common-time = { path = "../common/time" }
datafusion = { git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2", features = ["simd"] }
datafusion-common = { git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2" }
datafusion-expr = { git = "https://github.com/apache/arrow-datafusion.git", branch = "arrow2" }
datatypes = { path = "../datatypes" }
itertools = "0.10"
query = { path = "../query" }
serde = "1.0"
servers = { path = "../servers" }
snafu = { version = "0.7", features = ["backtraces"] }
sql = { path = "../sql" }
sqlparser = "0.15"
table = { path = "../table" }
tokio = { version = "1.18", features = ["full"] }
meta-client = { path = "../meta-client" }
futures = "0.3"

[dependencies.arrow]
package = "arrow2"
version = "0.10"
features = ["io_csv", "io_json", "io_parquet", "io_parquet_compression", "io_ipc", "ahash", "compute", "serde_types"]

[dev-dependencies]
datanode = { path = "../datanode" }
futures = "0.3"
tempdir = "0.3"
tonic = "0.8"
tower = "0.4"
