[package]
name = "frontend"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
default = ["python"]
python = ["dep:script"]
testing = []

[dependencies]
api = { workspace = true }
async-compat = "0.2"
async-stream.workspace = true
async-trait = "0.1"
catalog = { workspace = true }
chrono.workspace = true
client = { workspace = true }
common-base = { workspace = true }
common-catalog = { workspace = true }
common-datasource = { workspace = true }
common-error = { workspace = true }
common-function = { workspace = true }
common-grpc = { workspace = true }
common-grpc-expr = { workspace = true }
common-meta = { workspace = true }
common-query = { workspace = true }
common-recordbatch = { workspace = true }
common-runtime = { workspace = true }
common-telemetry = { workspace = true }
common-time = { workspace = true }
datafusion-common.workspace = true
datafusion-expr.workspace = true
datafusion.workspace = true
datanode = { workspace = true }
datatypes = { workspace = true }
file-table-engine = { workspace = true }
futures = "0.3"
futures-util.workspace = true
humantime-serde = "1.1"
itertools.workspace = true
meta-client = { workspace = true }
# Although it is not used, please do not delete it.
meter-core.workspace = true
meter-macros.workspace = true
metrics.workspace = true
mito = { workspace = true }
moka = { version = "0.9", features = ["future"] }
object-store = { workspace = true }
openmetrics-parser = "0.4"
opentelemetry-proto.workspace = true
partition = { workspace = true }
prost.workspace = true
query = { workspace = true }
regex.workspace = true
script = { workspace = true, features = ["python"], optional = true }
serde = "1.0"
serde_json = "1.0"
servers = { workspace = true }
session = { workspace = true }
snafu.workspace = true
sql = { workspace = true }
storage = { workspace = true }
store-api = { workspace = true }
substrait = { workspace = true }
table = { workspace = true }
tokio.workspace = true
toml.workspace = true
tonic.workspace = true
sqlparser.workspace = true

[dev-dependencies]
catalog = { workspace = true }
common-test-util = { workspace = true }
datanode = { workspace = true }
futures = "0.3"
meta-srv = { workspace = true, features = ["mock"] }
mito = { workspace = true, features = ["test"] }
strfmt = "0.2"
tower = "0.4"
uuid.workspace = true
