[package]
name = "common-runtime"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
async-trait.workspace = true
common-error.workspace = true
common-macro.workspace = true
common-telemetry.workspace = true
lazy_static.workspace = true
once_cell.workspace = true
paste.workspace = true
prometheus.workspace = true
snafu.workspace = true
tokio-metrics = "0.3"
tokio-metrics-collector = "0.2"
tokio-util.workspace = true
tokio.workspace = true

[dev-dependencies]
tokio-test = "0.4"
