[package]
name = "sql"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
api = { path = "../api" }
catalog = { path = "../catalog" }
common-catalog = { path = "../common/catalog" }
common-error = { path = "../common/error" }
common-time = { path = "../common/time" }
datatypes = { path = "../datatypes" }
itertools = "0.10"
mito = { path = "../mito" }
once_cell = "1.10"
snafu = { version = "0.7", features = ["backtraces"] }
sqlparser = "0.15.0"
