[package]
name = "object-store"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
futures = { version = "0.3" }
opendal = "0.20"
tokio = { version = "1.0", features = ["full"] }

[dev-dependencies]
anyhow = "1.0"
common-telemetry = { path = "../common/telemetry" }
tempdir = "0.3"
