[package]
name = "object-store"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
async-trait = "0.1"
bytes = "1.4"
futures = { version = "0.3" }
lru = "0.9"
md5 = "0.7"
metrics.workspace = true
opendal = { version = "0.40", features = [
    "layers-tracing",
    "layers-metrics",
] }
pin-project = "1.0"
tokio.workspace = true
uuid.workspace = true

[dev-dependencies]
anyhow = "1.0"
common-telemetry = { workspace = true }
common-test-util = { workspace = true }
