[package]
name = "tests-integration"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
dashboard = []

[dependencies]
api = { path = "../src/api" }
axum = "0.6"
axum-test-helper = { git = "https://github.com/sunng87/axum-test-helper.git", branch = "patch-1" }
catalog = { path = "../src/catalog" }
client = { path = "../src/client" }
common-catalog = { path = "../src/common/catalog" }
common-error = { path = "../src/common/error" }
common-grpc = { path = "../src/common/grpc" }
common-query = { path = "../src/common/query" }
common-runtime = { path = "../src/common/runtime" }
common-telemetry = { path = "../src/common/telemetry" }
common-test-util = { path = "../src/common/test-util" }
datanode = { path = "../src/datanode" }
datatypes = { path = "../src/datatypes" }
dotenv = "0.15"
frontend = { path = "../src/frontend" }
mito = { path = "../src/mito", features = ["test"] }
object-store = { path = "../src/object-store" }
once_cell = "1.16"
rand.workspace = true
secrecy = "0.8"
serde.workspace = true
serde_json = "1.0"
servers = { path = "../src/servers" }
snafu.workspace = true
sql = { path = "../src/sql" }
table = { path = "../src/table" }
tempfile.workspace = true
tokio.workspace = true
uuid.workspace = true

[dev-dependencies]
common-base = { path = "../src/common/base" }
common-recordbatch = { path = "../src/common/recordbatch" }
datafusion.workspace = true
datafusion-expr.workspace = true
futures.workspace = true
itertools = "0.10"
meta-client = { path = "../src/meta-client" }
meta-srv = { path = "../src/meta-srv" }
partition = { path = "../src/partition" }
paste.workspace = true
prost.workspace = true
query = { path = "../src/query" }
script = { path = "../src/script" }
session = { path = "../src/session" }
store-api = { path = "../src/store-api" }
tonic.workspace = true
tower = "0.4"
rstest = "0.17"
rstest_reuse = "0.5"
