[package]
name = "tests-integration"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
axum = "0.6.0-rc.2"
axum-test-helper = { git = "https://github.com/sunng87/axum-test-helper.git", branch = "patch-1" }
catalog = { path = "../src/catalog" }
common-catalog = { path = "../src/common/catalog" }
common-telemetry = { path = "../src/common/telemetry" }
datanode = { path = "../src/datanode" }
datatypes = { path = "../src/datatypes" }
frontend = { path = "../src/frontend" }
mito = { path = "../src/mito", features = ["test"] }
serde = "1.0"
serde_json = "1.0"
servers = { path = "../src/servers" }
snafu = { version = "0.7", features = ["backtraces"] }
sql = { path = "../src/sql" }
table = { path = "../src/table" }
tempdir = "0.3"
tokio = { version = "1.20", features = ["full"] }
