[package]
name = "client"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
api = { path = "../api" }
common-error = { path = "../common/error" }
snafu = { version = "0.7", features = ["backtraces"] }
tonic = "0.7"

[dev-dependencies]
tokio = { version = "1.0", features = ["full"] }
