[package]
name = "common-version"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[features]
codec = ["dep:serde"]
refresh_build_info = []

[dependencies]
const_format.workspace = true
serde = { workspace = true, optional = true }
shadow-rs = { version = "1.2.1", default-features = false }

[build-dependencies]
build-data = "0.2"
cargo-manifest = "0.19"
shadow-rs = { version = "1.2.1", default-features = false, features = ["build"] }
