on:
  merge_group:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'docs/**'
      - 'config/**'
      - '**.md'
      - '.dockerignore'
      - 'docker/**'
      - '.gitignore'
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'config/**'
      - '**.md'
      - '.dockerignore'
      - 'docker/**'
      - '.gitignore'
  workflow_dispatch:

name: CI

# To pass the required status check, see:
# https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks

jobs:
  typos:
    name: Spell Check with Typos
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: crate-ci/typos@v1.13.10

  check:
    name: Check
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No action required"'

  fmt:
    name: Rustfmt
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No action required"'

  clippy:
    name: Clippy
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No action required"'

  coverage:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No action required"'

  sqlness:
    name: Sqlness Test
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No action required"'
