name: License checker

on:
  push:
    branches:
    - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  license-header-check:
    runs-on: ubuntu-20.04
    name: license-header-check
    steps:
    - uses: actions/checkout@v4
    - name: Check License Header
      uses: korandoru/hawkeye@v5
