name: "Semantic Pull Request"

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-cyborg
      - name: Check Pull Request
        working-directory: cyborg
        run: pnpm tsx bin/check-pull-request.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
